@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}
.btn-light,
.btn-light {
  color: gray !important;
  margin: 80px 20% 10px 20%;
}

@media (max-width: 720px) {
  .btn-light,
  .btn-light {
    margin: 80px 70% 10px 0%;
  }
}
.message_succes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
}
