.btn-light,
.btn-light {
  color: gray !important;
  margin: 80px 20% 10px 20%;
}
.form {
  margin: 80px 25% 15px 25%;
}
@media (max-width: 620px) {
  .form {
    margin: 80px 5% 15px 5%;
  }
}
.message_succes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
