.btn.btn-purpel {
  flex-shrink: 0;
  border: none;
  outline: none;
  background-color: #3f76d4;
  cursor: pointer;
  font-size: 20px;
  color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  border: 1px solid #3f76d4;
  min-width: 120px;
  max-height:50px;
}
.btn.btn-purpel::before {
  content: "";
  position: absolute;
  background-color: #3f76d4;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  left: calc(100% * var(--wavecoord-x));
  top: calc(100% * var(--wavecoord-y));
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}
.btn.btn-purpel:active::before {
  transition-duration: 0s;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
}

.btn.btn-purpel:hover {
  color: #3f76d4;
  background: white;
  border: 1px solid #3f76d4;
}
@media (min-width: 1420px) {
.form {
  margin: 80px 200px;
}
}
@media (max-width: 1420px) {
  .form {   
    margin: 80px 40px
  }
}
.message_succes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
