.project {
  margin-bottom: 80px;
  margin-top: 80px;
}
.img_project {
  height: auto;
  width: 100%;
  position: relative;
  margin: 10px 5px 10px 5px;
  border-radius: 10px;
}
.title_project {
  font-size: 23px;
  font-weight: lighter;
  color: #636363;
  padding-bottom: 30px;
}

.link_project {
  text-decoration: none;
  border: solid 1px #dcdcdc;
  padding: 14px;
  border-radius: 5px;
  color: #636363;
}

.link_project:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
}
