

.img_project {
  height: auto;
  width: 85%;
  position: relative;
  margin: 20px 0px;
  border-radius: 10px;
}
@media (max-width: 720px) {
  .img_project {
    height: auto;
    width: 100%;
    position: relative;
    margin: 10px 0px;
    border-radius: 10px;
  }
  .project {
    margin: 80px 0px 80px 0px;
  }
}
.title_project {
  font-size: 23px;
  font-weight: lighter;
  color: #636363;
  padding-bottom: 20px;
}

.link_project {
  text-decoration: none;
  border: solid 1px #3f76d4;
  padding: 8px;
  border-radius: 5px;
  color: #636363;
}

.link_project:hover {
  background-color: #3f76d4;
  text-decoration: none;
  color: white;
}
